<!DOCTYPE html>
<html>
<head>
  <title>Helldesk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="top_menu">

    <div id="left">
      <ul>
        <li> <%= link_to 'Issue', '#' %> </li>
        <li> <%= link_to 'Admin', '#' %> </li>
      </ul>
    </div>

    <div id="right">
      <ul>
        <li> <%= link_to 'Help', :help %> </li>
        <li> <%= link_to 'About', :about %> </li>
        <li> <%= link_to 'Login', '#' %> </li>
      </ul>
    </div>

  </div>

<div id="page_content">
  <div id="page_box">
<%= yield %>
  </div>

</div>


</body>
</html>
